@page "/"
@using ShortDash.Core.Extensions

<div class="container col-xl-5 col-lg-8 col-md-10 col-sm-12 mt-3">
    <div class="card">
        <div class="card-header text-center">
            <h5 class="card-text">ShortDash Target</h5>
        </div>
        @if (!InitializedDataProtection)
        {
            <div class="card-body bg-danger text-light">
                <p class="card-text">
                    The data protection mechanism failed to initialize.
                    This can happen if the target is executed under a different user account.
                </p>
            </div>
        }
        else if (!ServerConfigured || IsEditingConnection)
        {
            <div class="card-body">
                <p class="card-text text-center">
                    <EditForm Model="ConnectModel" OnValidSubmit="ConnectToServerUrl">
                        <DataAnnotationsValidator />

                        <h5 class="alert alert-info">Enter the URL for the ShortDash Server.</h5>

                        <div class="form-group">
                            <InputText type="text" class="form-control form-control-lg" placeholder="Enter ShortDash Server URL" @bind-Value="@ConnectModel.ServerUrl" />
                            <ValidationMessage For="() => ConnectModel.ServerUrl" />
                        </div>

                        @if (IsEditingConnection)
                        {
                            <button class="btn btn-secondary mr-2" type="button" @onclick="ToggleEditConnection" @onclick:preventDefault>Cancel</button>
                        }
                        <button class="btn btn-primary" type="submit">
                            Connect
                        </button>
                    </EditForm>
                </p>
            </div>
        }
        else
        {
            <div class="card-body">
                <dl class="row">
                    <dt class="col-3">Target ID</dt>
                    <dd class="col-9">@TargetId</dd>
                    <dt class="col-3">Server URL</dt>
                    <dd class="col-9">@ServerUrl</dd>
                    <dt class="col-3">Server ID</dt>
                    <dd class="col-9">@(!string.IsNullOrEmpty(ServerId) ? ServerId : "N/A")</dd>
                    <dt class="col-3">Last Connection</dt>
                    <dd class="col-9">@LastConnection.ToDisplayString()</dd>
                </dl>
                @if (!IsLinked && IsConnected)
                {
                    <div class="text-center">
                        <EditForm Model="LinkModel" OnValidSubmit="StartLinking">
                            <DataAnnotationsValidator />

                            <h5 class="alert alert-info">Verify the Server ID matches and then enter the code from the ShortDash Server below.</h5>

                            <div class="form-group">
                                <InputText type="text" class="form-control form-control-lg" placeholder="Enter Link Code" @bind-Value="@LinkModel.TargetLinkCode" />
                                <ValidationMessage For="() => LinkModel.TargetLinkCode" />
                            </div>

                            <button class="btn btn-secondary" type="button" @onclick="CancelLinking" @onclick:preventDefault>Cancel</button>
                            <button class="btn btn-primary" type="submit" disabled="@(IsLinking || !IsConnected)">
                                @if (IsLinking)
                                {
                                    <span class="spinner-border spinner-border-sm"></span>
                                }
                                Link
                            </button>
                        </EditForm>
                    </div>
                }
            </div>
        }
        @if (ServerConfigured && InitializedDataProtection)
        {
            <div class="card-footer text-light bg-@GetConnectionStatusClass()">
                <p class="card-text text-center">
                    <h5>@GetConnectionStatus()</h5>
                    @if (!IsConnected)
                    {
                        <span class="text-dark">Last retry: @LastConnectionAttempt.ToDisplayString()</span>
                    }
                </p>
            </div>
        }
    </div>
    @if (ServerConfigured)
    {
        <div class="text-center mt-3">
            <button class="btn btn-outline-secondary" @onclick="ToggleEditConnection">
                <span class="fas fa-edit" aria-hidden="true"></span> Change server connection
            </button>
        </div>
    }
</div>
