@page "/"
@using ShortDash.Core.Extensions

<div class="container col-lg-4">
    <div class="card">
        <div class="card-header text-center">
            <h5 class="card-text">ShortDash Target</h5>
        </div>
        @if (string.IsNullOrEmpty(ServerUrl))
        {
            <div class="card-body bg-warning">
                <p class="card-text">
                    The connection to the ShortDash server has not been configured.<br />
                    Update the ServerUrl setting in the appsettings.json file and then restart the application.
                </p>
            </div>
        }
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Target ID</dt>
                <dd class="col-sm-9">@TargetId</dd>
                <dt class="col-sm-3">Server URL</dt>
                <dd class="col-sm-9">@(!string.IsNullOrEmpty(ServerUrl) ? ServerUrl : "Not Configured")</dd>
                <dt class="col-sm-3">Server ID</dt>
                <dd class="col-sm-9">@(!string.IsNullOrEmpty(ServerId) ? ServerId : "Not Linked")</dd>
                <dt class="col-sm-3">Last Connection</dt>
                <dd class="col-sm-9">@LastConnection.ToDisplayString()</dd>
            </dl>
            @if (!Linked)
            {
                <div class="text-center">
                    <EditForm Model="Model" OnValidSubmit="StartLinking">
                        <DataAnnotationsValidator />

                        <h5 class="alert alert-info">Verify the Server ID matches and then enter the code from the ShortDash Server below.</h5>

                        <div class="form-group">
                            <InputText type="text" class="form-control form-control-lg" placeholder="Enter Link Code" @bind-Value="@Model.TargetLinkCode" />
                            <ValidationMessage For="() => Model.TargetLinkCode" />
                        </div>

                        <button class="btn btn-secondary" type="button" @onclick="CancelLinking">Cancel</button>
                        <button class="btn btn-primary" type="submit" disabled="@Linking">
                            @if (Linking)
                            {
                                <span class="spinner-border spinner-border-sm"></span>
                            }
                            Link
                        </button>
                    </EditForm>
                </div>
            }
        </div>
        <div class="card-footer text-light bg-@GetConnectionStatusClass()">
            <p class="card-text text-center">
                <h5>@GetConnectionStatus()</h5>
                @if (!IsConnected)
                {
                    <span class="text-dark">Last retry: @LastConnectionAttempt.ToDisplayString()</span>
                }
            </p>
        </div>
    </div>
</div>