<nav class="navbar navbar-dark navbar-expand bg-dark p-0 pl-3 pr-2">
    <a class="navbar-brand" href="">ShortDash</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link float-right" href="#" @onclick="ToggleNavMenu" @onclick:preventDefault>
                <span class="navbar-toggler-icon"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right @NavMenuCssClass">
                <NavLink class="dropdown-item" href="" Match="NavLinkMatch.All">
                    <span class="fas fa-home fa-fw" aria-hidden="true"></span> Home
                </NavLink>

                <AuthorizeView Policy="@Policies.EditDevices">
                    <NavLink class="dropdown-item" href="devices/link" Match="NavLinkMatch.Prefix">
                        <span class="fas fa-link fa-fw" aria-hidden="true"></span> Link a new device
                    </NavLink>
                </AuthorizeView>

                <AuthorizeView Policy="@Policies.ViewDashboards">
                    <div class="dropdown-divider"></div>

                    <h6 class="dropdown-header">Dashboards</h6>

                    @foreach (var dashboard in Dashboards)
                    {
                        if (User.CanAccessDashboard(dashboard.DashboardId))
                        {
                            var link = $"dashboard/{dashboard.DashboardId}";
                            <NavLink class="dropdown-item" href="@link" Match="NavLinkMatch.All">
                                <span class="fas fa-layer-group fa-fw" aria-hidden="true"></span> @dashboard.Name
                            </NavLink>
                        }
                    }
                </AuthorizeView>
                <AuthorizeView Policy="@Policies.EditDashboards">
                    <a href="#" class="dropdown-item" @onclick="ShowAddDashboardDialog" @onclick:preventDefault>
                        <span class="fas fa-plus fa-fw" aria-hidden="true"></span> New Dashboard
                    </a>
                </AuthorizeView>

                <AuthorizeView Roles="@Roles.Administrator">
                    <div class="dropdown-divider"></div>
                </AuthorizeView>

                <AuthorizeView Policy="@Policies.EditActions">
                    <NavLink class="dropdown-item" href="actions" Match="NavLinkMatch.Prefix">
                        <span class="fas fa-puzzle-piece fa-fw" aria-hidden="true"></span> Actions
                    </NavLink>
                </AuthorizeView>
                <AuthorizeView Policy="@Policies.EditDevices">
                    <NavLink class="dropdown-item" href="devices" Match="NavLinkMatch.Prefix">
                        <span class="fas fa-mobile-alt fa-fw" aria-hidden="true"></span> Devices
                    </NavLink>
                </AuthorizeView>
                <AuthorizeView Policy="@Policies.EditTargets">
                    <NavLink class="dropdown-item" href="targets" Match="NavLinkMatch.Prefix">
                        <span class="fas fa-crosshairs fa-fw" aria-hidden="true"></span> Targets
                    </NavLink>
                </AuthorizeView>
            </div>
        </li>
    </ul>
</nav>