@page "/actions/{DashboardActionId:int}"
@page "/actions/new"
@using ShortDash.Server.Actions

<div class="page">
    @if (IsLoading)
    {
        <PageLoadingComponent />
    }
    else
    {
        <EditForm EditContext="@ActionEditContext">
            <DataAnnotationsValidator />

            <fieldset>
                <legend>
                    Action
                </legend>
                @if (DashboardActionId == 0)
                {
                    <div class="form-group disabled">
                        <label for="ActionType">Action Type</label>
                        <ActionTypeInputSelect @bind-Value="DashboardAction.ActionTypeName" OptionSelected="@ChangeActionTypeName" />
                    </div>
                }
                else if (!string.IsNullOrWhiteSpace(ActionAttribute?.Title))
                {
                    <div class="form-group disabled">
                        <label for="ActionType">Type</label>
                        <input type="text" class="form-control" value="@ActionAttribute.Title" disabled />
                    </div>
                }
                <div class="form-group disabled">
                    <label for="ActionTarget">Target</label>
                    <ActionTargetInputSelect @bind-Value="DashboardAction.DashboardActionTargetId" />
                </div>
                <div class="form-group">
                    <label for="ActionLabel">Label</label>
                    <InputText @bind-Value="@DashboardAction.Label" class="form-control" id="ActionLabel" placeholder="Enter text to display" />
                    <ValidationMessage For="() => DashboardAction.Label" />
                </div>
                <div class="form-group">
                    <label for="BackgroundColor">Background Color</label>
                    <InputColor @bind-Value="@DashboardAction.BackgroundColor" class="form-control" id="BackgroundColor" />
                    <ValidationMessage For="() => DashboardAction.BackgroundColor" />
                </div>
                <div class="form-group">
                    <label for="Icon">Icon</label>
                    <div class="input-group">
                        <InputText @bind-Value="DashboardAction.Icon" class="form-control" id="Icon" placeholder="Enter a relative URL path to an image file" />
                        <div class="input-group-append">
                            <button class="btn btn-secondary" @onclick="SelectIcon" @onclick:preventDefault><span class="fas fa-search"></span></button>
                        </div>
                    </div>
                    <small>An optional image to be displayed for this action.</small>
                    <ValidationMessage For="() => DashboardAction.Icon" />
                </div>
                <div class="form-group">
                    <label for="DashboardActionIcon">Preview</label>
                    <div class="grid-cell">
                        <DashboardActionIcon DashboardAction="DashboardAction" />
                    </div>
                </div>
            </fieldset>

            @if (ParametersEditContext != null)
            {
                <fieldset>
                    <legend>Parameters</legend>
                    <FormGenerator EditContext="@ParametersEditContext" FormElementType="typeof(ActionPropertyFormElement)"></FormGenerator>
                </fieldset>
            }

            @if (DashboardAction.ActionTypeName == typeof(DashGroupAction).FullName)
            {
                <fieldset>
                    <legend>Actions</legend>
                    <DashGroupActionInputGrid @ref="subActionsInputGrid" DashboardAction="DashboardAction" DashboardService="DashboardService" />
                </fieldset>
            }

            @if (DashboardActionId != 0)
            {
                <button class="btn btn-outline-danger float-left" @onclick="ConfirmDelete">Delete</button>
            }

            <div class="float-right">
                <button class="btn btn-secondary" @onclick=CancelChanges>Cancel</button>
                <button class="btn btn-primary" @onclick="SaveChanges">Save</button>
            </div>
        </EditForm>
    }
</div>
