@page "/devices/link"
@attribute [Authorize(Policy = Policies.EditDevices)]
@inherits PageBase

<div class="page container">
    <div class="card">
        <div class="card-header">
            Link Device
        </div>
        <div class="card-body">
            @if (Linking)
            {
                <div class="card-text">
                    <h5 class="alert alert-info"><span class="fas fa-wifi"></span> Navigate to ShortDash on your other device and enter the code below.</h5>
                </div>

                <div class="card-text text-center">
                    <h1><SecureText Value="@DeviceLinkCode.Separate(3)"></SecureText></h1>
                    <h6><a href="@DeviceLinkUrl">@DeviceLinkUrl</a></h6>
                </div>
                <div class="card-text text-center row">
                    @if (Urls.Length > 1)
                    {
                        <h3 class="col text-right"><a href="#" @onclick="() => ShowNextUrl(-1)" @onclick:preventDefault><span class="fas fa-caret-left"></span></a></h3>
                    }
                    <SecureQrCode class="qrcode col" Value="@DeviceLinkSecureUrl" />
                    @if (Urls.Length > 1)
                    {
                        <h3 class="col text-left"><a href="#" @onclick="() => ShowNextUrl(1)" @onclick:preventDefault><span class="fas fa-caret-right"></span></a></h3>
                    }
                </div>
            }
            else
            {
                <DeviceClaimsEditPanel DeviceClaims="DeviceClaims" />
            }
        </div>
        <div class="card-footer text-right">
            <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
            <button type="button" class="btn btn-primary" @onclick="StartLinking" disabled="@Linking">
                @if (Linking)
                {
                    <span class="spinner-border spinner-border-sm"></span>
                }
                Link
            </button>
        </div>
    </div>
</div>
