@page "/targets"
@attribute [Authorize(Policy = Policies.EditTargets)]
@inherits PageBase

@using ShortDash.Core.Extensions
@using System.Web

<div class="page text-dark">
    <button @onclick="LinkTarget" class="btn btn-outline-primary float-right">Link</button>
    <h3><span class="fas fa-crosshairs"></span> Targets</h3>

    @if (DashboardActionTargets.Count == 0)
    {
        <h5 class="alert alert-info">
            You do not have any targets yet.  Click "Link" to start adding a new one.
        </h5>
    }

    <div class="container-fluid mt-4">
        <div class="row">
            @foreach (var target in DashboardActionTargets)
            {
                var link = $"targets/{HttpUtility.UrlEncode(target.DashboardActionTargetId)}";
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <NavLink class="nav-link" href="@link" Match="NavLinkMatch.All">
                                @target.Name
                            </NavLink>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                ID: @target.DashboardActionTargetId
                            </div>
                            <div class="card-text">
                                Linked: @target.LinkedDateTime.ToDisplayString()
                            </div>
                            <div class="card-text">
                                Last Connection: @target.LastSeenDateTime.ToDisplayString()
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
