<div class="modal-backdrop fade show" @onclick="CloseDialog"></div>
<div class="modal fade show d-block" style="pointer-events: none;" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                @if (icons.Count == 0)
                {
                    <PageLoadingComponent />
                }
                else
                {
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" @bind-value="SearchText" @bind-value:event="oninput" @onkeyup="@SearchTextKeyUp" placeholder="Search @icons.Count Font-Awesome icons for..." />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary" @onclick="() => FilterIcons(true)"><span class="fas fa-search"></span></button>
                            </div>
                        </div>
                    </div>
                    @if (FilteredIcons.Count == 0 && !string.IsNullOrWhiteSpace(SearchText))
                    {
                        <h5 class="text-secondary">No icons found</h5>
                    }
                    else
                    {
                        <div class="grid container-fluid">
                            <div class="row text-center">
                                @foreach (var icon in FilteredIcons)
                                {
                                    <div @key="icon" class="col py-1 px-1 flex-grow-0">
                                        <div class="grid-cell" @onclick="() => SetCurrentValue(icon)">
                                            <div class="grid-icon rounded text-center text-@TextClass" style="background-color: @BackgroundColorHtml">
                                                <div class="grid-icon-content d-table-cell align-middle">
                                                    <span class="icon @icon"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="modal-footer">
                <span>Selected:</span>
                <div class="grid-icon rounded text-center text-@TextClass m-0 ml-2 mr-4" style="background-color: @BackgroundColorHtml">
                    <div class="grid-icon-content d-table-cell align-middle">
                        <span class="icon @CurrentValue"></span>
                    </div>
                </div>

                <button type="button" class="btn btn-secondary" @onclick="CloseDialog">Cancel</button>
                <button type="button" class="btn btn-primary" @onclick="OkClick">OK</button>
            </div>
        </div>
    </div>
</div>
